# modify ExecStart and WorkingDirectory
# copy to /usr/lib/systemd/system
# systemctl daemon-reload
# systemctl enable/is-enabled/disable zredirector.service
# systemctl restart zredirector  /   service zredirector start
[Unit]
Description=zredirector is an TCP/UDP redirection server
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/etc/zredirector/zredirector_linux_amd64
WorkingDirectory=/etc/zredirector/
PrivateTmp=true

[Install]
WantedBy=multi-user.target
Alias=zredirector.service