# copy to /usr/lib/systemd/system
[Unit]
Description=zredirector is an TCP/UDP redirection server
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=<>
WorkingDirectory=<>
PrivateTmp=true

[Install]
WantedBy=multi-user.target
Alias=zredirector.service